<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>博客后台</title>
    <link rel="stylesheet" type="text/css" href="Public/{$smarty.const.PLAT}/css/app.css" />
    <script type="text/javascript" src="Public/{$smarty.const.PLAT}/js/app.js"></script>
</head>
<body>
<div class="wrapper">

    <!-- START HEADER -->
    {include file="App/Back/View/Public/header.html"}
    <!-- END HEADER -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START SIDEBAR -->
        {include file="App/Back/View/Public/sidebar.html"}
            <!-- end sidemenu -->
        </div>
        <!-- END SIDEBAR -->

        <!-- START PAGE -->
        <div id="page">
            <!-- start page title -->
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">	<h2>评论管理</h2>	<p>评论列表</p></div>

                    <div class="clear"></div>
                </div>
            </div>
            <!-- end page title -->

            <!-- START CONTENT -->
            <div class="content">
                <!-- START TABLE -->
                <div class="simplebox grid740">

                    <div class="titleh">
                        <h3>评论列表</h3>
                    </div>

                    <table id="myTable" class="tablesorter">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>作者</th>
                            <th>内容</th>
                            <th>博文名</th>
                            <th>评论时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
						{foreach from=$comments key=k item=v}
                        <tr>
                            <td>{$k+1}</td>
                            <td>{$v.u_username}</td>
                            <td>{$v.c_content}</td>
                            <td>{$v.a_name}</td>
                            <td>{$v.c_time|date_format:"%Y-%m-%d"}</td>
                            <td>
                                <a href="#">删除</a>
                            </td>
                        </tr>
						{/foreach}
                        </tbody>
                    </table>
                    <ul class="pagination">
                        {$pagestring}
                    </ul>
                </div>
                <!-- END TABLE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END PAGE -->
        <div class="clear"></div>
    </div>
    <!-- END MAIN -->

    <!-- START FOOTER -->
    {include file="App/Back/View/Public/footer.html"}
    <!-- END FOOTER -->
</div>
</body>
</html>